<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384686982032-a3qnnfdcducpqi7nivk17oh1kub214rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384686982032-a3qnnfdcducpqi7nivk17oh1kub214rl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>384686982032-pkl5vim1c1rb376nf95s89k617o2nobh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu3BS2aBpKGCXNEgSFBf4cdpgKM1vFyFI</string>
	<key>GCM_SENDER_ID</key>
	<string>384686982032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remdy.app</string>
	<key>PROJECT_ID</key>
	<string>socialchatmvp</string>
	<key>STORAGE_BUCKET</key>
	<string>socialchatmvp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384686982032:ios:4862e501b472570ebf2915</string>
</dict>
</plist>